.main {
    display: flex;
    justify-content: center;
    padding: 50px 20px;
}
.container {
    max-width:1100px;
    width: 100%;
}
a{
    color:#09d3ac;
}
h1, h2, h3 ,h4, h5{
    margin-bottom:15px;
}